$font_titre: 'Shrikhand', cursive;
$font_texte: 'Roboto', sans-serif;
$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire: #99E2D0;
$breakpoints:(
    tablette: 500px,
    desktop: 900px
);
@mixin tablette{
    @media screen  and (min-width: map-get($breakpoints,tablette)){
        @content;
    }
}
@mixin desktop{
    @media screen  and (min-width: map-get($breakpoints,desktop)){
        @content;
    }
}
@keyframes loader{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2);
    }
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}


body{
    max-width: 500px;
    margin: 0;
    padding: 0;
    @include tablette{
        max-width: 900px;
    }
    @include desktop{
        max-width: 2000px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
.loading{
    width: 100%;
    height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d0000;
    animation-name: loading;
    animation-delay: 9s;
    animation-duration: 1000ms;
    animation-fill-mode: both;
}
.mot1{
    color: $color_primaire;
    animation: loader 2800ms 3;
}

.mot2{
    color: $color_secondaire;
    animation: loader 2800ms 100ms 3;
}
.mot3{
    color: $color_tertiaire;
    animation: loader 2800ms 200ms 3;
}

header{
    @include desktop{
        width: 100%;
    }
}
header img{
    width: 40%;
    height: 25px;
    padding: 10px 0px;
    margin: 0% 30%;
    @include tablette{
        width: 40%;
        height: 80px;
        padding: 10px 0px;
        margin: 0% 30%;
    }
    @include desktop{
        width: 40%;
        height: 100px;
        padding: 10px 0px;
        margin: 0% 30%;
    }
}
.desktop{
    @include tablette{
        display: flex;
    }
    @include desktop{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
}
nav{
    background-color: rgb(245, 245, 245);
    height: 350px;
    @include tablette{
        width: 50%;
        padding-bottom: 50px;
    }
    @include desktop{
        width: 100%;
        padding-bottom: 0px;
    }
}
.ville{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: $font_texte;
    font-size: 15px;
    box-shadow:inset 0px 3px 3px rgb(202, 202, 202);
    background-color: rgb(233, 231, 231);
    @include tablette{
        width: 200%;
    }
    @include desktop{
        width: 100%;
    }
    i{
        padding-right: 15px;
    }
    p{
        opacity: 0.6;
    }
}

.intro{
    text-align: center;
    font-family: $font_texte;
    h1{
        font-weight: bold;
    }
    p{
        opacity: 0.6;
    }
}
.liennav{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.btnnav{
    padding: 15px 25px;
    background-color: #d95de4;
    box-shadow: 2px 2px 2px rgb(206, 204, 204);
    border-radius: 35px;
    border:none;
    font-family: $font_texte;  
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover{
        background-color: $color_secondaire;
        box-shadow: 4px 4px 4px rgba(187, 64, 187, 0.781);
    }
}
.fonction{
    @include tablette{
        width: 50%;
        margin-top: 50px;
        background-color: rgb(245, 245, 245);
    }
    @include desktop{
        width: 100%;
        margin-top: 0px;
    }
}
.fonctionnement{
    font-family: $font_texte;
    h2{
        margin-left: 25px;
        @include tablette{
            text-align: center;
        }
        @include desktop{
            text-align: start;
        }
    }
    ul{
        list-style: none;
       
    }
    li{
        width: 95%;
        margin-left: -10px;
        display: flex;
        align-items: center;
        background-color: rgb(245, 245, 245) ;
        padding: 10px 0px;
        margin-top: 15px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgb(212, 212, 212);
        &:hover{
            i{
                color: $color_primaire;
            }
        }
    }
    i{
       padding: 0px 25px;
    }
    p{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color_primaire;
        border-radius: 50%;
        color:white;
        margin-left: -7px;
    }
}
.lesresto{
    background-color: rgb(245, 245, 245) ;
    padding: 50px 5%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include tablette{
        padding: 0px;
    }
    @include desktop{
        padding: 0px;
    }
    h2{
        margin-left: -230px;
        padding-bottom: 20px;
        @include tablette{
            font-size: 25px;
            margin-left: 40px;
            margin-right: 0px;
            width: 20%;
        }
        @include desktop{
            font-size: 25px;
            text-align: center;
            width: 20%;
            margin-left: 0px;
        }
    }
    @include tablette{
        width: 100%;
        height: 650px;
    }
    @include desktop{
        width: 70%;
        height: 700px;
    }
}
.resto{
    width: 90%;
    height: 1100px;
    font-family: $font_texte;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablette{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    @include desktop{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .imageresto{
        width: 100%;
        height: 70%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 1;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        p{
            display: inline;
            background-color: $color_tertiaire;
            color: #28a082;
            padding: 5px 10px;
            position: absolute;
            z-index: 2;
            margin-left: -100px;
        }
    }
    .info{
       width: 90%;
       height: 30%;
       background-color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0px 5%;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
       .coeurvide{
           margin-bottom: -33px;
       }
       .coeurplein{
           color: $color_primaire;
           visibility: hidden;
       }
    }
    i{
        font-size: 20px;
    }
    a{
        width: auto;
        height: 250px;
        text-decoration: none;
        color: black;
        .coeur:hover{
            .coeurvide{
                display: none;
            }
            .coeurplein{
                visibility: visible;
            }
        }
        @include tablette{
            width: 40%;
        }
        @include desktop{
            width: 40%;
        }
    }
}
footer{
    font-family: $font_texte;
    background-color: #313131;
    color: rgb(221, 221, 221);
    height: 200px;
    margin-top: -20px;
    @include tablette{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    @include desktop{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    h2{
        font-family: $font_titre;
        font-size: 18px;
        padding-top: 20px;
        padding-left: 40px;
        @include desktop{
            font-size: 25px;
        }
    }
    ul{
        list-style: none;
        @include tablette{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0px;
        }
        @include desktop{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        a{
            text-decoration: none;
            color: white;
        }
        li{
            padding-bottom: 10px;
        }
        i{
            padding-right: 5px;
        }
    }
}